<div class="cta-stripe z-depth-1">
  <div class="container section center">
    {% if site.active_lang == "en" %}
    <h3 class="cta-txt">
      Guess we should talk!&nbsp;&nbsp;
      <a href="/startproject" class="btn-large btn-project">START PROJECT</a>
    </h3>
    {% endif %}
    {% if site.active_lang == "de" %}
    <h3 class="cta-txt">
      Wir sollten uns unterhalten!
    <a href="/startproject" class="btn-large btn-project">PROJEKT STARTEN</a>
    </h3>
    {% endif %}
  </div>
</div>
