<div class="valign-wrapper">
<div class="columns">
 <ul class="price">
   <li class="header">
   <h4>Minimal</h4>
   <h5>Viable Product</h5>
   </li>
   <li class="grey" style="padding:7.63px">
   from &euro; 5,000*
   <h6>* &euro; 3,000 for startups</h6>
   </li>
   <li>minimal application</li>
   <li>approx. 30 days</li>
   <li class="grey"><a href="/startproject" class="btn-large">Start Project</a></li>
 </ul>
</div>

<div class="columns columns-highlight">
<ul class="price highlight">
  <li class="header">
  <h4>Optimal</h4>
  <h5>Viable Product</h5>
  </li>
  <li class="grey">from &euro; 20,000</li>
  <li>optimal application</li>
  <li>approx. 3 months</li>
  <li class="grey"><a href="/startproject" class="btn-large">Start Project</a></li>
</ul>
</div>

<div class="columns">
<ul class="price">
  <li class="header">
  <h4>Maximal</h4>
  <h5>Viable Product</h5>
  </li>
  <li class="grey">contact us</li>
  <li>enterprise grade application</li>
  <li>you tell us</li>
  <li class="grey"><a href="/startproject" class="btn-large">Start Project</a></li>
</ul>
</div>
</div>
