@charset "utf-8";

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.8em;
    text-align: left;
    color: #2657bf;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #201b54;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color: #29b6f6;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}
p.rss-subscribe {
    margin: 0;
}

.header {
  padding-top: 120px;
}

img.center {
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;
}

.posts {
  margin-bottom: 5rem;
  padding: 0px;
  list-style: none;
}
.post-date {
  display: block;
  margin-top: 3px;
  margin-bottom: 1rem;
  color: #9a9a9a;
  font-size:0.8rem;
}

.footer {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}

.footer-column {
  display: flex;
  flex-direction: column
}

.footer-column .title {
  padding-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: #868e96;
}

.footer-column a {
  color: #868e96;
}

.footer-column a:hover {
  color: #495057;
}

.footer-icon {
  line-height:20px;
  height: 21px;
}

.copyright {
  text-align: center;
  color: #868e96;
  padding-bottom: 10px;
}

@media only screen and (max-width: 435px) {
  .footer {
    display: block;
  }
  .footer-column .title {
    margin-top: 2em;
  }

  body #titlecover .title-slogan h1 {
    font-size: 1.2em !important;
  }

  body #titlecover .title-slogan {
    bottom: 120px !important;
  }

  body #titlecover .title-slogan .slanted {
    padding: 0 !important;
  }

  body #flexbox {
    flex-direction: column;
  }
}

nav {
  position: fixed;
  background-color: #f8f9fae6
}

.carousel h4 h3 {
  text-align: left;
}


blockquote{
  color: #757575;
  padding: 0;
  margin: 50px 0 0 0;
  border: none;
  text-align: justify;
  position: relative;
  font-size: 17.5px;
}

blockquote::before {
    content: '';
    position: absolute;
    top: -7px;
    background-image: url('../assets/img/home/quote.svg');
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

blockquote p {
  padding-left: 40px;
}

.stories-img {
  max-height: 400px;
}

.stories-img img {
  margin: auto;
}
.peopleparent{
  vertical-align: top;
  line-height: normal;
}
.cookies-notification{
  max-width: 600px;
  width: 50%
}

.cookies-notification-eu-cook{
  bottom: 0;
  display: block;
  left: 0;
  top: auto;
}

.cookies-notification-contents{
  display: block;
  padding: 16px;

}

.author {
  margin-top: 10px;
  margin-bottom: 10px;
}

.author-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #dfe1e8;
}

.author .author-details {
    display: inline-block;
    vertical-align: 7px;
    margin: 0 10px 0 10px;
}

.author .author-details .name {
    font-weight: 700;
    line-height: 1.43;
    color: #1a2328;
}

.author .author-details .position {
    font-weight: 300;
    line-height: 1;
    color: #757575;
}

.img-flags {
  height: 24px;
  width: 24px;
}

.middle-indicator-text{
 font-size: 2.2rem;
}

a.middle-indicator-text{
  color: #757575 !important;
}

.content-indicator{
  width: 32px;
  height: 32px;
  background: none;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.img-feature {
  width: 100%;
  max-width: 700px;
}

.img-rocket {
  width: 100%;
  max-width: 550px;
}

.carousel-height {
  height: 400px;
}

.img-feature-home {
   width: 100%;
   max-width: 618px;
}

.sharing-icons a {
  padding-right: 10px;
  font-size: 22px;
}

.post-content {
  text-align: justify;
}


.stripe {
  background-color: #f1f3f5;
}

.viperdev_img {
  width: 100%;
  max-width: 150px;
  padding-bottom: 10px;
}
.img-blog-feature {
  width: 100%;
  max-width: 720px;
}

.borderTopLight {
    border-top: 1px solid rgba(0,0,0,.15) !important;
    padding-bottom: 5px;
}

.colorless {
  color: inherit !important;
}
h2.blog-heading {
  height: 62px;
}

.post-container {
  max-width: 700px !important;
}

.slick-dots li {
  width: auto !important;
}

.pager__item {
  padding: 0 12px;
  display: block;
  border: 1px solid;
}

.logo {
   height: 56px;
   padding-top: 5px;
}

.card-text-align {
  text-align: center;
}
* {
    box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    float: left;
    width: 32%;
    padding: 4px;
}

.columns-highlight {
  width: 36%
}

.columns-highlight .price {
  box-shadow: 0 16px 24px 0 rgba(0,0,0,0.4)
}

.columns-highlight .price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.6)
}
/* Style the list */
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

/* Add shadows on hover */
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.4)
}

/* Pricing header */
.price .header {
    background-color: #093099;
    color: white;
}

/* List items */
.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.highlight li {
  padding: 24px !important;
}

/* Grey list item */
.price .grey {
    background-color: #eee;
}

@media only screen and (max-width: 900px) {
  .columns {
    width: 100%;
  }
  .columns-highlight {
    width: 100%;
  }
  .valign-wrapper {
    display: inherit;
  }

  body #titlecover .title-slogan h1 {
    font-size: 1.7em;
  }
}

#titlecover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../img/titelbild.jpg);
    background-size: cover;
    background-position: center right;
    z-index: 101;
}

#titlecover .title-slogan {
    position: absolute;
    bottom: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#titlecover .title-slogan h1 {
    text-align: center;
    color: #fff;
    font-size: 3.0em;
    width: auto;
    padding: 0 0.5em;
    margin: 30px;
    line-height: 1.8;
}

#titlecover .title-slogan span {
    padding-left: 30px;
    padding-right: 30px;
    background-color: #093099;
    display: inline;
    box-shadow: 0 16px 24px 0 rgba(0,0,0,0.4);
    -webkit-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    box-decoration-break: clone;
}

#titlecover .title-bottom {
    display: block;
    position: absolute;
    text-align: center;
    bottom: 40px;
    width: 100%;
    color: #fff;
    left: 0;
}

#titlecover .title-bottom::after {
    font-family: 'FontAwesome';
    content: '\f103';
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    bottom: -20px;
}

#titlecover .title-bottom .social-links {
    margin-bottom: 1em;
}

.social-links {
    margin-top: 1em;
}

.social-links ul {
    margin: auto;
}


.social-links li {
    display: inline-block;
    margin: 0 1em;
}

#titlecover .title-bottom a {
    color: #fff;
}

.social-links a.twitter {
  background-image: url(../assets/img/icons/twitter.svg);
}

.social-links a.linkedin {
  background-image: url(../assets/img/icons/linkedin.svg);
}

.social-links a.phone {
  background-image: url(../assets/img/icons/phone.svg);
}

.social-links a.envelope {
  background-image: url(../assets/img/icons/envelope.svg);
}

.social-links a.rss {
  background-image: url(../assets/img/icons/rss.svg);
}

.social-links a.twitter:hover {
  background-image: url(../assets/img/icons/twitter-blue.svg);
}

.social-links a.linkedin:hover {
  background-image: url(../assets/img/icons/linkedin-blue.svg);
}

.social-links a.phone:hover {
  background-image: url(../assets/img/icons/phone-blue.svg);
}

.social-links a.envelope:hover {
  background-image: url(../assets/img/icons/envelope-blue.svg);
}

.social-links a.rss:hover {
  background-image: url(../assets/img/icons/rss-blue.svg);
}

.social-links a.twitter-grey {
  background-image: url(../assets/img/icons/twitter-grey.svg);
}

.social-links a.linkedin-grey {
  background-image: url(../assets/img/icons/linkedin-grey.svg);
}

.social-links a.phone-grey {
  background-image: url(../assets/img/icons/phone-grey.svg);
}

.social-links a.envelope-grey {
  background-image: url(../assets/img/icons/envelope-grey.svg);
}

.social-links a.rss-grey {
  background-image: url(../assets/img/icons/rss-grey.svg);
}

.social-links a {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-size: contain;
}

a {
    color: #2dc6d6;
    text-decoration: none;
}

.container .social-links {
  padding: 10px 0 20px 0;
  text-align: center;
}

.btn-project {
  background-color: #fff;
  color: #093099;
}

.btn-project:hover {
  background-color: #2c2cff;
  color: #fff;
}

.cta-txt {
  color: #fff;
}

.cta-stripe {
  background-color: #093099;
}

@media only screen and (min-width: 1400px) {
  body #titlecover .title-slogan h1 {
    font-size: 4em !important;
  }
}
